@import url('https://fonts.googleapis.com/css?family=Dosis|Lato');

/* main */

body {
  font-family: "Lato", sans-serif;
  margin:0px;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 4rem;
}

.container {
    display: block;
    margin: auto;
    padding: 3rem;
    max-width: 60rem;
    background: rgba(255,255,255,0.9);
}

/* Top navigation bar */

nav {
  background: rgba(5, 5, 5, 0.9);
  border-bottom: 1px solid rgb(220,220,220);
  padding:0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

nav a {
    color: white;
}
nav a:visited {
    color: rgb(250, 250, 250);
}


nav img.logo {
  height: 2rem;
  vertical-align: middle;
  width: auto;
}

nav.internal {
  display: inline-block;
}

nav.external {
  display: inline-block;
}


// post list specific

div.archive {
    display: block;
    counter-reset: auto-increment-numbers;
}

div.archive .item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    counter-increment: auto-increment-numbers;
    display: grid;
    grid-template-columns: 4rem 4rem auto;
    grid-gap: 1rem;
    justify=content: grid-start;
    height: 3rem;
}

div.archive .item .thumbnail {
        max-widtht: 3rem;
        max-height: 3rem;
        margin-right: 1rem;
        vertical-align: top;
}

div.archive .item::before {
    font-size: 1.5rem;
    color: grey;
    text-align:center;
    top: 50%;
    content: counter(auto-increment-numbers);
}

/* Blog */

div.blog {
  max-width: 60rem;
}

div.blog h1 {
  font-size: 1.3rem;
  font-variant:small-caps;
  color: #5b5345;
  text-align: center;
  margin-bottom: 10px;
}

div.blog h2 {
  font-size: 1rem;
  font-variant:small-caps;
  text-align: left;
  font-weight: 500;
  color: #6E7B7E;
}

div.blog .header {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: #555;
  padding-bottom: 30px;
}

img {
    width: 100%;
}

/* project gallery */

div.projects {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

div.projects div.img {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    background-color:white;
    vertical-align: top;
    width: 220px;
}

div.projects div.img:hover {
    border: 1px solid #777;
}

div.projects div.img img {
    width: 100%;
    height: auto;
}

div.projects div.desc {
    color: #6E7B7E;
    padding: 13px;
    height: 70px;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
}
