@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("hover-min.css");

$blue: #294994;
$orange: #e0806c;
$almostwhite: #320000;

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 0px;
    min-height: 100rem;
    background-color: lighten($blue, 60%);
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    color: #e0806c;
}
img {
    width: 100%;
}
.section {
    margin-top: 8rem;
}
.header {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: $orange;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: $almostwhite;
}
a:visited {
    color: $almostwhite;
}
a:hover {
    color: $almostwhite;
}

header {
    margin-bottom: 2rem;
}

.container {
    margin: auto;
}

nav {
    background: $blue;
    opacity: 0.9;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: lighten($blue, 50%);
    vertical-align: middle;
}
nav a:visited {
    color: lighten($blue, 70%);
}
nav img.logo {
    height: 2rem;
    vertical-align: middle;
    width: auto;
}
nav.internal {
    display: block;
}

a.internal  {
    margin-left: 1rem;
    margin-right: 1rem;
}
nav.external {
    display: block;
}

div.home {
    margin: auto;
    max-width: 60rem;
    text-align: justify;
    padding: 4rem;
}

div.blog {
    margin: auto;
    text-align: justify;
    padding: 4rem;
    padding-top: 1rem;
    max-width: 60rem;
    background: white;
}

div.archive {
    margin: auto;
    display: block;
    counter-reset: auto-increment-numbers;
    text-align: left;
    padding: 4rem;
    padding-top: 1rem;
    max-width: 60rem;
    background: white;
}
div.archive .item {
    font-size: 1.2rem;
    margin-top: 2rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}
div.gallery div.img {
    flex-shrink: 1;
    flex-grow: 2;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
div.gallery div.img .scenes {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: auto;
}
div.gallery div.img .verticals {
    height: auto;
    max-width: 200px;
    width: auto;
    height: auto;
}
div.gallery div.img .animals {
    max-height: 300px;
    width: auto;
    height: auto;
}
div.gallery div.img:hover {
    border: 1px solid #777;
}

@media screen and (max-width: 600px) {
    div.blog {
        padding: 1rem;
    }
    nav {
        padding: 0.1rem;
        font-size: 1.0rem;
    }
    a.internal  {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
}
