@import url("https://fonts.googleapis.com/css?family=Poppins");


$blue: #294994;
$orange: #e0806c;

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100rem;
    background-position: top;
}
p {
    line-height: 150%;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    color: #e0806c;
}
img {
    width: 100%;
}
.header {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    color: $orange;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: #320000;
}
a:hover {
    color: #640000;
}
header {
    margin-bottom: 2rem;
}
.container {
    display: block;
    margin: auto;
    padding: 4rem;
    padding-top: 1rem;
    max-width: 40rem;
    background: white;
    opacity: 0.8;
    text-align: justify;
}
nav {
    background: $blue;
    opacity: 0.9;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1.0rem;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
}
nav a:visited {
    color: white;
}
nav img.logo {
    height: 2rem;
    vertical-align: middle;
    width: auto;
}
nav.internal {
    display: block;
}

a.internal  {
    margin-left: 1rem;
    margin-right: 1rem;
}

nav.external {
    display: block;
}

div.archive {
    display: block;
    counter-reset: auto-increment-numbers;
}
div.archive .item {
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 0.5rem;
    list-style-type: none;
    counter-increment: auto-increment-numbers;
    display: grid;
    grid-template-columns: 6rem auto;
    grid-gap: 1rem;
    justify-content: grid-start;
    min-height: 6rem;
}
div.archive .item::before {
    font-size: 3rem;
    color: $blue;
    text-align: center;
    top: 50%;
    content: counter(auto-increment-numbers);
}
div.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
div.gallery div.img {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    vertical-align: top;
    width: 220px;
}
div.gallery div.img:hover {
    border: 1px solid #777;
}
div.gallery div.img img {
    width: 100%;
    height: auto;
}
div.gallery div.desc {
    color: #6e7b7e;
    padding: 13px;
    height: 70px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .container {
        padding: 1rem;
    }
    nav {
        font-size: 1.3rem;
    }
    nav.welcome {
        display: none;
    }
}
