images/posts filter=lfs diff=lfs merge=lfs -text
images/thumbnails filter=lfs diff=lfs merge=lfs -text
images/haskell-logo.png filter=lfs diff=lfs merge=lfs -text
images/mmesch.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/nonstationary_models.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/resonance_paper.png filter=lfs diff=lfs merge=lfs -text
images/posts/solarsystem.svg filter=lfs diff=lfs merge=lfs -text
images/thumbnails/solarsystem.svg filter=lfs diff=lfs merge=lfs -text
images/posts/S2m0.gif filter=lfs diff=lfs merge=lfs -text
images/posts/voxelsphere.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/collective_motion_animation.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/historical_paris.png filter=lfs diff=lfs merge=lfs -text
images/posts/asymptotics.png filter=lfs diff=lfs merge=lfs -text
images/posts/mandelbrot.svg filter=lfs diff=lfs merge=lfs -text
images/thumbnails/decision_trees.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/deisasupercomputing.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/metro_traffic.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/python_impatient.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/ray_paths_movie.png filter=lfs diff=lfs merge=lfs -text
images/posts/asymptotics_l30m3.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/3drays.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/blind_source_separation.png filter=lfs diff=lfs merge=lfs -text
images/posts/D10m5.gif filter=lfs diff=lfs merge=lfs -text
images/posts/jumpinglines2.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/cheat_sheet.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/collective_motion.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/git_class.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/machine_learning.png filter=lfs diff=lfs merge=lfs -text
images/posts/interp_irregular.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/chicxulub.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/moment_tensors.png filter=lfs diff=lfs merge=lfs -text
images/posts/jumpinglines1.png filter=lfs diff=lfs merge=lfs -text
images/posts/paris_map_small.png filter=lfs diff=lfs merge=lfs -text
images/posts/spherical-harmonics.png filter=lfs diff=lfs merge=lfs -text
images/posts/wavefield.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/cmap2d.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/compseismologybook.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/food_network.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/model_heterogeneities.png filter=lfs diff=lfs merge=lfs -text
images/posts/metro-traffic-2011.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/shtools.png filter=lfs diff=lfs merge=lfs -text
images/thumbnails/waves.gif filter=lfs diff=lfs merge=lfs -text
images/thumbnails/seismic_wavefield_visualisation.png filter=lfs diff=lfs merge=lfs -text
