@import url('https://fonts.googleapis.com/css?family=Dosis|Lato');

body
{
    font-family: "Verdana", sans-serif;
    background-color: white;
}

h1 {
    text-align: left;
    font-weight: 500;
    color: #6E7B7E;
}

#main {
    text-align: center;
    background-image: url(images/svg_background.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding-top: 70px;
    padding-bottom: 170px;
}

#introduction {
    padding-top: 0px;
}

hr {
    width: 80%;
}

em.small {
    font-style: normal; 
    font-variant: small-caps;
}

section {
    text-align: right;
    position: relative;
    max-width: 1000px;
    height: auto;
    color: black;
    font-size: 11pt;
    background-color: white;

    display: block;
    margin: auto;
}

div.content {
    text-align: center;
    width: 100%;
    display: inline-block;
}

div.img {
    margin: 30px;
    padding: 5px;
    border: 1px solid #ccc;

    display: inline-block;
    vertical-align: top;
    width: 220px;
}

div.img:hover {
    border: 1px solid #777;
}
div.img img {
    width: 100%;
    height: auto;
}
div.desc {
    color: #6E7B7E;
    padding: 13px;
    height: 70px;
    text-align: center;
}

section p {
    text-align: left;
    display: inline-block;
    max-width: 800px;
    padding: 10px;
    color: #555555;
    font-weight: 400;
    font-size: 12pt;
}

@media screen and (max-width : 600px) {
    #main {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    div.img{
        width: 100px;
        padding: 2px;
        margin: 10px;
    }
    div.desc {
        font-size: 9;
        padding: 5px;
    }
}

