@font-face {
    font-family: Dosis;
    src: url('https://fonts.googleapis.com/css?family=Dosis');
}

body
{
    font-family: 'Dosis', sans-serif;
    background-color: white;
}

h1 {
    font-weight: 500;
    color: #6E7B7E;
}

hr {
    width: 80%;
}

section {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: auto;
    color: black;
    font-size: 12pt;
    background-color: white;

    display: block;
    margin: auto;
    padding-bottom: 100px;
}

section a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #333333;
  border-radius: 100%;
  box-sizing: border-box;
}
section a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #333333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

div.img {
    margin: 40px;
    padding: 5px;
    border: 1px solid #ccc;

    display: inline-block;
    vertical-align: top;
    width: 250px;
}

div.img:hover {
    border: 1px solid #777;
}
div.img img {
    width: 100%;
    height: auto;
}
div.desc {
    color: #6E7B7E;
    padding: 15px;
    height: 70px;
    text-align: center;
}

@media screen and (max-width : 600px) {
    div.img{
        width: 100px;
        padding: 2px;
        margin: 10px;
    }
    div.desc {
        font-size: 9;
        padding: 5px;
    }
}

section p {
    display: inline-block;
    max-width: 800px;
    padding: 10px;
    color: #555555;
    font-weight: 400;
    line-height: 35px;
    font-size: 13pt;
}
