<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MMesch's blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <header>
            <nav>
                <div class="external">
                    <a href="https://twitter.com/Mattwittus">
                    <img class="logo" src="/images/logos/mmesch.png"/>
                    </a>
                    <a href="https://github.com/mmesch">
                    <img class="logo" src="/images/logos/github.png"/>
                    </a>
                </div>
                <div class="internal">
                    <a href="/">Blog</a>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            $body$
        </main>
    </body>
</html>
