<div class="section">
    <h1>scenes</h1>
    <div class="gallery">
    $for(scenes)$
        <div class="img">
	  <a href=$url$>
           <img src="$thumbnail$" class="scenes">
	  </a>
        </div>
    $endfor$
    </div>
</div>

<div class="section">
    <h1>animals</h1>
    <div class="gallery">
    $for(animals)$
        <div class="img">
	  <a href=$url$>
            <img src="$thumbnail$" class="animals">
	  </a>
        </div>
    $endfor$
    </div>
</div>

<div class="section">
    <h1>verticals</h1>
    <div class="gallery">
    $for(verticals)$
        <div class="img">
	  <a href=$url$>
            <img src="$thumbnail$" class="verticals">
	  </a>
        </div>
    $endfor$
    </div>
</div>
